<!DOCTYPE html>
<html>
<head>
  <title>Demo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1><center>First application with scaffold</center></h1>
<br>
<h1><center>From</center></h1>

<h1><center>Attiq-ur-Rehman</center></h1>

<%= yield %>

</body>
</html>
